USE [SJClassic]
GO
/****** Object:  Table [dbo].[OrderForm]    Script Date: 11/17/2014 12:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderForm](
	[OrderAutoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](30) NULL,
	[SINo] [nvarchar](30) NULL,
	[DoorType] [nvarchar](25) NULL,
	[Date] [smalldatetime] NULL,
	[OrdStatus] [nvarchar](30) NULL,
	[ShippingDate] [smalldatetime] NULL,
	[DealerID] [nvarchar](30) NULL,
	[DealerName] [nvarchar](50) NULL,
	[Tel] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[DeliveryType] [nvarchar](20) NULL,
	[Remark1] [nvarchar](100) NULL,
	[InstallMan1] [nvarchar](30) NULL,
	[InstallMan2] [nvarchar](30) NULL,
	[InstallMan3] [nvarchar](30) NULL,
	[InstallMan4] [nvarchar](30) NULL,
	[InstallMan5] [nvarchar](30) NULL,
	[InstallMan6] [nvarchar](30) NULL,
	[Height] [nvarchar](20) NULL,
	[Width] [nvarchar](20) NULL,
	[Walltype] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NULL,
	[UnitQty] [nvarchar](20) NULL,
	[BasePrice] [nvarchar](20) NULL,
	[UnitPrice] [nvarchar](20) NULL,
	[TotalAmt] [nvarchar](20) NULL,
	[Remark2] [nvarchar](100) NULL,
	[SplSpec] [nvarchar](100) NULL,
	[HeightCal] [nvarchar](20) NULL,
	[WidthCal] [nvarchar](20) NULL,
	[balheight] [nvarchar](20) NULL,
	[Color1] [nvarchar](20) NULL,
	[Color2] [nvarchar](20) NULL,
	[Color3] [nvarchar](20) NULL,
	[Color4] [nvarchar](20) NULL,
	[Color5] [nvarchar](20) NULL,
	[Color6] [nvarchar](20) NULL,
	[Hgt1] [nvarchar](15) NULL,
	[Hgt2] [nvarchar](15) NULL,
	[Hgt3] [nvarchar](15) NULL,
	[Hgt4] [nvarchar](15) NULL,
	[Hgt5] [nvarchar](15) NULL,
	[Hgt6] [nvarchar](15) NULL,
	[Qty1] [nvarchar](15) NULL,
	[Qty2] [nvarchar](15) NULL,
	[Qty3] [nvarchar](15) NULL,
	[Qty4] [nvarchar](15) NULL,
	[Qty5] [nvarchar](15) NULL,
	[Qty6] [nvarchar](15) NULL,
	[Venthole] [nvarchar](15) NULL,
	[VentRow] [nvarchar](15) NULL,
	[Letterbox] [nvarchar](15) NULL,
	[ControlBox] [nvarchar](15) NULL,
	[LockType] [nvarchar](50) NULL,
	[OtherLckTyp] [nvarchar](25) NULL,
	[Voltage] [nvarchar](15) NULL,
	[Currnt] [nvarchar](15) NULL,
	[NamePlate] [nvarchar](15) NULL,
	[Motor] [nvarchar](15) NULL,
	[ManualOver] [nvarchar](25) NULL,
	[RemoteBox] [nvarchar](15) NULL,
	[DoorOrein] [nvarchar](15) NULL,
	[UPSBattery] [nvarchar](15) NULL,
	[PullHandle] [nvarchar](15) NULL,
	[PullHook] [nvarchar](15) NULL,
	[Packing] [nvarchar](25) NULL,
	[WrntyDoor] [nvarchar](25) NULL,
	[WrntyMotor] [nvarchar](25) NULL,
	[SplRemark] [nvarchar](100) NULL,
	[AluBottomBar] [nvarchar](15) NULL,
	[NylonPoly] [nvarchar](15) NULL,
	[SendName] [nvarchar](50) NULL,
	[SendMail] [nvarchar](50) NULL,
	[Approval] [nvarchar](5) NULL,
	[SendName1] [nvarchar](50) NULL,
	[SendMail1] [nvarchar](50) NULL,
	[Pulley] [nvarchar](5) NULL,
	[Spring1] [nvarchar](15) NULL,
	[Spring1pcs] [nvarchar](15) NULL,
	[Spring2] [nvarchar](15) NULL,
	[Spring2pcs] [nvarchar](15) NULL,
	[Spring3] [nvarchar](15) NULL,
	[Spring3pcs] [nvarchar](15) NULL,
	[Spring4] [nvarchar](15) NULL,
	[Spring4pcs] [nvarchar](15) NULL,
	[Spring5] [nvarchar](15) NULL,
	[Spring5pcs] [nvarchar](15) NULL,
	[Spring6] [nvarchar](15) NULL,
	[Spring6pcs] [nvarchar](15) NULL,
	[SendName3] [nvarchar](50) NULL,
	[SendMail3] [nvarchar](50) NULL,
	[ClerkName] [nvarchar](50) NULL,
	[ClerkMail] [nvarchar](50) NULL,
	[Tax] [nvarchar](15) NULL,
	[TaxPrice] [nvarchar](15) NULL,
	[UnitPriceNoTax] [nvarchar](15) NULL,
	[Deleted] [bit] NULL,
	[createdby] [numeric](18, 0) NULL,
	[createddate] [nvarchar](20) NULL,
	[modifiedby] [numeric](18, 0) NULL,
	[modifydate] [nvarchar](20) NULL,
	[rowversions] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Default [DF_OrderForm_Deleted]    Script Date: 11/17/2014 12:24:31 ******/
ALTER TABLE [dbo].[OrderForm] ADD  CONSTRAINT [DF_OrderForm_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
