
#myMenu {
background:#FFF;
border:1px solid #444;
display:none;
width:150px;
}

#myMenu ul, #myMenu ul * {
padding:0;
margin:0;
}

#myMenu ul li{
list-style:none;
border:1px solid #444;
padding: 5px;
display:block;
}

#myMenu ul li:hover{
background:#666;
color:#FFF;
}

#myMenu ul li:hover span{
color:#FFF;
}

#myMenu li:hover a{
color:#FFF;
}

#myMenu a{
color:#000;
font:11px Tahoma;
font-weight:bold;
text-decoration:none;
}


#myMenu2 {
background:#600;
border:1px solid #200;
color:#FFF;
display:none;
width:150px;
}

#myMenu2 ul, #myMenu ul * {
padding:0;
margin:0;
}

#myMenu2 ul li{
list-style:none;
border:1px solid #200;
padding: 2px;
display:block;
}

#myMenu2 ul li:hover{
background:#C22;
color:#FFF;
}

#myMenu2 ul li:hover span{
color:#FFF;
}

#myMenu2 li:hover a{
color:#FFF;
}

#myMenu2 a{
color:#FFF;
font:11px Tahoma;
font-weight:bold;
text-decoration:none;
}

#myMenu2 a:hover{
color:#FFF;
font:11px Tahoma;
font-weight:bold;
text-decoration:underline;
}
